pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

pastoralist.canonical.adl.xml

resources/sql/pastoralist.postgres.sql

resources/sql/queries.auto.sql

src/clj/pastoralist/cache.clj

src/clj/pastoralist/routes/auto.clj

src/clj/pastoralist/routes/auto_json.clj

resources/templates/auto/

log/
